@import 'vendor/normalize';
@import 'vendor/strap-on/strap-on';

body {
	font-family: monospace;
	background-color: #fbfbfb;
	font-size: 14px;
}

.demo-code {
	padding: 20px;
	background-color: #eeeef3;

	.demo-comment {
		font-style: italic;
		font-size: 0.9em;
		margin-top: 5px;
		margin-bottom: 5px;
		color: #999;
	}
}

section {
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: solid 1px #ccc;
}


.demo-block {
	background-color: #eeeef3;
	border-radius: 10px;
	border: solid 1px #000;

	height: 100px;
	line-height: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}