*, *:before, *:after {
	@include vendor-prefix(box-sizing, border-box)
}

html {
	@each $breakpoint, $size in $breakpoints {
		@include respond-to($breakpoint) {
			font-family: $breakpoint+':'+(nth($size, 1));
		}
	}
}

.container {
	@each $breakpoint, $size in $breakpoints {
		@include respond-to($breakpoint) {
			width: nth($size, 2);
		}
	}
}

.row {
	display: block;
	width: 100%;

	&:after {
		content: "";
		display: table;
		clear: both;
	} 
}

//gutters
@each $breakpoint, $size in $breakpoints {
	@media (min-width: #{nth($size, 1)}px) {
		@each $size in $gutterSizes {
			.gutter-#{$size}-#{$breakpoint} { 
				padding-left: #{$size}px; 
				padding-right: #{$size}px;

				& > .row { margin-left: -#{$size}px; margin-right: -#{$size}px; }
			}
		}
	}
}

//columns
@each $breakpoint, $size in $breakpoints {
	@media (min-width: #{nth($size, 1)}px) {
		@each $numCols in $rowCols {
			@for $index from 1 through $numCols {
				$percentage: (100%/$numCols)*($index);
				.cols-#{$numCols}-#{$breakpoint} > .col-#{$index}-#{$breakpoint} { width: #{$percentage}; }
			}
		}
	}
}

[class^="col-"] {
	display: block;
	float: left;
}