$breakpoints: ('sm': (0, 100%), 
			   'md': (768, 100%), 
			   'lg': (960, 960px));

$gutterSizes: (0, 5, 15, 20, 25, 30);
$defaultGutterSize: 10;

$rowCols: (5, 24);
$defaultRowColNum: 12;

$spacingMax: 50;
$spacingMultiplier: 5;


