/*
Syntax error: File to import not found or unreadable: vendor/normalize.
              Load path: /Users/mparisi/Sites/github/GODPUS/strap-on/scss (DEPRECATED)
        on line 4 of strap-on.scss

1: @import 'variables';
2: @import 'mixins';
3: 
4: @import 'vendor/normalize';
5: 
6: @import 'grid';
7: @import 'allsizes';
8: 
9: *, *:before, *:after {

Backtrace:
strap-on.scss:4
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/import_node.rb:45:in `import'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/stack.rb:121:in `with_frame'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/stack.rb:79:in `with_base'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/tree/root_node.rb:20:in `render'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/engine.rb:274:in `render'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `each'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:221:in `watch'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/plugin.rb:108:in `method_missing'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/exec.rb:509:in `watch_or_update'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/exec.rb:346:in `process_result'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/exec.rb:43:in `parse'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/lib/sass/exec.rb:22:in `parse!'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/gems/sass-3.3.4/bin/sass:13:in `<top (required)>'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/bin/sass:23:in `load'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/bin/sass:23:in `<main>'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/bin/ruby_noexec_wrapper:14:in `eval'
/Users/mparisi/.rvm/gems/ruby-1.9.3-p448/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: vendor/normalize.\A               Load path: /Users/mparisi/Sites/github/GODPUS/strap-on/scss (DEPRECATED)\A         on line 4 of strap-on.scss\A \A 1: @import 'variables';\A 2: @import 'mixins';\A 3: \A 4: @import 'vendor/normalize';\A 5: \A 6: @import 'grid';\A 7: @import 'allsizes';\A 8: \A 9: *, *:before, *:after {"; }
